<section>
  <h2>Criar sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Password</label>
    <input
      type="password"
      name="password"
      id="room-pass"
      placeholder="Insira a senha:"
    />
    <button><img src="/images/users1.svg" alt="" />Criar sala</button>
  </form>
</section>
