<section>
  <h2>Participe</h2>
  <form action="/enterroom" method="POST">
    <label class="sr-only" for="room-id">Código da sala</label>
    <input
      name="roomId"
      type="number"
      id="room-id"
      placeholder="Código da sala:"
    />
    <button><img src="./images/enter.svg" alt="" /> Entrar na sala</button>
  </form>
</section>
<div class="separator">
  <div>ou</div>
</div>
<section>
  <h2>Crie uma sala</h2>
  <a href="/create-pass" class="button outline">
    <img src="/images/users.svg" alt="" />
    Criar Sala
  </a>
</section>
