.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas:
    'header header'
    'left right '
}

header {
  grid-area: header;
}

header::after {
  content: "";
  display: block;
  height: 75rem;
  width: 66rem;
  margin-top: 15rem;
  grid-area: left;
  background: url('../images/bg.svg') no-repeat top/contain;

}

main {

  grid-area: right;
  display: flex;
  margin: auto 0 35rem 0;

}

main .container {
  width: min(36.3rem, 100%);
  margin-right: 1rem;

}

main h2 {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: clamp(20px, 5vw 2.8rem);
  margin-bottom: 2.4rem;
  text-align: center;
}

input {
  border: .2rem solid var(--grey-blue);
  padding: 0 1.6rem;
  outline: none;
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}

div.separator {
  display: block;
  color: var(--grey-blue);
  position: relative;
  padding: 4rem 0;
}

.separator div::before {
  content: "";
  display: block;
  width: 157.55px;
  height: 0px;

  outline: 1px solid;
}

.separator div::after {
  content: "";
  display: block;
  width: 157.55px;
  height: 0px;

  outline: 1px solid;

}

.separator div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.ball {
  width: 21.2rem;
  height: 21.2rem;
  background: var(--blue);
  position: fixed;
  border-radius: 50%;

}

.ball.top {
  top: -46rem;
  right: -35rem;
  width: 63.3rem;
  height: 63.3rem;
  opacity: .1;
}

.ball.bottom {
  bottom: -15rem;
  right: 5.6rem;
  opacity: .1;
}       
 